body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	/* color: #ffffff; */
}
.app {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img {
	width: 350px;
	height: 200px;
}

.app img {
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

h1 {
	margin-top: 98px;
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
}

.btn {
	font-weight: 700;
	width: 150px;
	height: 50px;
	background-color: #ffc300;
	color: black;
	cursor: pointer;
	border-style: none;
	border-radius: 12px;
}

@media (max-width: 375px) {
	h1 {
		font-size: 20px;
	}
}
